{% extends 'base.html' %}

{% block content %}
<h1>All Posts</h1>
<ul>
    {% for post in posts %}
    <li>
        <h3>{{ post.title|escape }}</h3>
        <p>{{ post.rendered_content|safe }}</p>
        <p>Posted by <a href="{% url 'profile_view' post.created_by.username %}"> {{post.created_by.username}}</a>
            in <a href="{% url 'community_detail' post.community.slug %}">{{ post.community.name }}</a>
            on {{ post.created_at }}</p>
    </li>
    {% endfor %}
</ul>
{% endblock %}