{% extends 'base.html' %}

{% block content %}
{% include 'post_list.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <h1>All Posts</h1>
    <p>This is a complete list of all community posts and all users' blog posts. All in one place.</p>
    <p>Click on a user or community for an option to subscribe to them.</p>
    <p>If you just want to see a list of communities available then they can be found here: <a href="{% url 'community_list' %}">List of communities</a></p>
</div>
{% endblock %}