<!DOCTYPE html>
<html>
<head>
    <title>Scroller</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async
        integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ"
        crossorigin="anonymous"
        defer>
    </script>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Scroller</a></h1>
        <nav>
            <ul id=""sitenav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'all_posts' %}">All Posts</a></li>
            </ul>
            <ul id="usernav">
                {% if user.is_authenticated %}
                <li>Logged in as <b>{{ user.username }}</b></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                <li><a href="{% url 'create_community' %}">Create Community</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
        {% block sidebar %}
        {% endblock %}
    </main>
</body>
</html>