{% extends 'base.html' %}

{% block content %}
    {% include 'post_list.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <div style="text-align: center;">
        <svg width="160" height="160" data-jdenticon-value="comm-{{ community.slug }}"></svg>
        <h1>{{ community.name }}</h1>
    </div>
    <p>{{ community.rendered_description|safe }}</p>
    {% if user == community.created_by or user.is_staff %}
        <p><a href="{% url 'edit_community' slug=community.slug %}">Edit Description</a></p>
    {% endif %}
    <p>Created by {{ community.created_by.username }} on {{ community.created_at }}</p>

    {% if user.is_authenticated %}
        <div style="text-align: center">{% include 'community_subscription_button.html' %}</div>
    {% endif %}

    <hr>
    <h2>New Post</h2>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>
    {% else %}
    <p>You need to <a href="{% url 'account_login' %}">log in</a> to post.</p>
    {% endif %}
</div>
{% endblock %}

