<hr>

<h2>Comments</h2>

{% if user.is_authenticated %}
<h3>Add a comment</h3>
<form method="post"
    {% if post.community %}
    hx-post="{% url 'post_detail' post.community.slug post.id %}"
    {% else %}
    hx-post="{% url 'user_post_detail' post.created_by.username post.id %}"
    {% endif %}
    hx-target="#comments"
    hx-swap="afterbegin"
    hx-on::after-request=" if(event.detail.successful) {this.reset(); refreshComments();}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>
{% else %}
<p>You must be logged in to add a comment.</p>
{% endif %}

<div id="comments">
    {% for comment in comments %}
        {% include 'comment.html' %}
    {% endfor %}
</div>

<script>
    function refreshComments() {
        document.querySelectorAll('.reply-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const commentId = this.dataset.commentId;
                document.getElementById('reply-form-' + commentId).classList.toggle('hidden');
            });
        });
        jdenticon();
    }

    refreshComments();
</script>