<div class="comment">
    <div class="icon usericon"><svg width="80" height="80" data-jdenticon-value="user-{{ comment.created_by.username }}"></svg></div>
    <p><strong>{{ comment.created_by.username }}</strong> said: {{ comment.rendered_content|safe }}</p>
    <p>Posted on {{ comment.created_at }}</p>
    {% if user == comment.created_by or user.is_staff %}
        <a href="{% url 'edit_comment' comment.id %}">Edit</a>
        <a href="{% url 'delete_comment' comment.id %}">Delete</a>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="#" class="reply-link" data-comment-id="{{ comment.id }}">Reply</a>
    {% endif %}

    <div class="reply-form hidden" id="reply-form-{{ comment.id }}">
        {% if post.community %}
        <form method="post" action="{% url 'post_detail' post.community.slug post.id %}"
        hx-post="{% url 'post_detail' post.community.slug post.id %}"
        hx-target="#replies-{{ comment.id }}"
        hx-swap="afterbegin"
        hx-on::after-request=" if(event.detail.successful) {this.reset(); this.parentNode.classList.toggle('hidden')}">
        {% else %}
        <form method="post" action="{% url 'user_post_detail' post.created_by.username post.id %}"hx-post="{% url 'user_post_detail' post.created_by.username post.id %}" hx-target="#replies-{{ comment.id }}" hx-swap="afterbegin">
        {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <button type="submit">Reply</button>
        </form>
    </div>
    
    <div class="replies" id="replies-{{ comment.id }}">
        {% for reply in comment.replies.all %}
            {% include 'comment.html' with comment=reply %}
        {% endfor %}
    </div>
</div>