{% extends 'base.html' %}

{% block content %}
    {% include 'post_list.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <h2>{{ community.name }}</h2>
    <p>{{ community.rendered_description|safe }}</p>
    {% if user == community.created_by or user.is_staff %}
        <p><a href="{% url 'edit_community' slug=community.slug %}">Edit Description</a></p>
    {% endif %}
    <p>Created by {{ community.created_by.username }} on {{ community.created_at }}</p>

    {% if user.is_authenticated %}
        {% include 'community_subscription_button.html' %}
    {% endif %}

    <hr>
    <h3>New Post</h3>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post</button>
    </form>
    {% else %}
    <p>You need to <a href="{% url 'account_login' %}">log in</a> to post.</p>
    {% endif %}
</div>
{% endblock %}

