{% extends 'base.html' %}

{% block content %}
<h1>Delete Comment</h1>
<p>Are you sure you want to delete this comment?</p>
<p>{{ comment.content }}</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Delete</button>
    {% if comment.post.community %}
    <a href="{% url 'post_detail' comment.post.community.slug comment.post.id %}">Cancel</a>
    {% else %}
    <a href="{% url 'user_post_detail' comment.post.created_by.username comment.post.id %}">Cancel</a>
    {% endif %}
</form>
{% endblock %}