{% extends 'base.html' %}

{% block content %}
    {% if posts %}
        {% include 'post_list.html' %}
    {% else %}
        <div class="box">
            <h1>Welcome to Scroller</h1>
            <p>Your home page is currently empty as you have not subscribed to any communities or blogs.</p>
            <p>If you want to see the current activity throughout the site, you may view <a href="{% url 'all_posts' %}">a stream of all posts</a>, or if you want to browse communities you may find <a href="{% url 'community_list' %}">a list of communities here</a>.</p>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
<h1>Home</h1>

{% if user.is_authenticated %}

<h2>Subscribed Communities</h2>
{% if subscribed_communities %}
    <ul>
        {% for community in subscribed_communities %}
            <li>{{ community.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not subscribed to any communities.</p>
{% endif %}

<h2>Subscribed Profiles</h2>
{% if subscribed_profiles %}
    <ul>
        {% for profile in subscribed_profiles %}
            <li>{{ profile.user.username }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not subscribed to any profiles.</p>
{% endif %}

{% else %}

<h2>Welcome to Scroller</h2>

<p>You are not logged in.</p>

<p><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Sign Up</a> to customise this page, subscribe to communities and blogs and start posting!</p>

{% endif %}



{% endblock %}