{% extends 'base.html' %}

{% block content %}
    {% include 'post_list.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <svg width="160" height="160" data-jdenticon-value="user-{{ profile.user.username }}"></svg>
    <h1>{{ profile.display_name|default:profile.user.username }}</h1>
    <p>{{ profile.rendered_description|safe }}</p>

    {% include 'subscription_button.html' %}

    {% if user.is_authenticated and user == profile.user %}

    <a href="{% url 'edit_profile' %}">Edit Profile</a>

    <h2>Add a New Post</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Post</button>
    </form>
    {% endif %}
</div>
{% endblock %}

