{% extends 'base.html' %}

{% block content %}
<h1>{{ profile.display_name|default:profile.user.username }}</h1>
<p>{{ profile.rendered_description|safe }}</p>
<a href="{% url 'edit_profile' %}">Edit Profile</a>

<h2>Posts</h2>
<ul>
    {% for post in posts %}
    <li>
        <h3>{{ post.title|escape }}</h3>
        <p>{{ post.rendered_content|safe }}</p>
        <p>{% if post.community %} Posted in <a href="{% url 'community_detail' post.community.slug %}">{{ post.community.name }}</a> {% endif %}
             on {{ post.created_at }}</p>
        {% if post.community %}
        <a href="{% url 'post_detail' post.community.slug post.id %}">Read more</a>
        {% else %}
        <a href="{% url 'user_post_detail' post.created_by.username post.id %}">Read more</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if user.is_authenticated and user == profile.user %}
<h2>Add a New Post</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Post</button>
</form>
{% endif %}
{% endblock %}

