{% extends 'base.html' %}

{% block nosidebar %}{% endblock %}

{% block content %}
<div class="post-detail-container">
    <div class="post_header">

        <div class="icon usericon">
            <a href="{% url 'profile_view' post.created_by.username %}">
                <svg width="80" height="80" data-jdenticon-value="user-{{ post.created_by.username }}"></svg>
                {{ post.created_by.username|escape }}
            </a>
        </div>
        <div class="icon communityicon">
            {% if post.community %}
            <a href="{% url 'community_detail' post.community.slug %}">
                <svg width="80" height="80" data-jdenticon-value="comm-{{ post.community.slug }}"></svg>
                {{ post.community.name|escape }}
            </a>
            {% endif %}
        </div>
        <div class="post_listing_meta">
            <div class="post_listing_title">
                <a href="{% url 'user_post_detail' post.created_by.username post.id %}">{{ post.title|escape }}</a>
            </div>
            <div class="post_listing_datetime">{{ post.created_at }}</div>
            <div class="post_listing_location">
                <span class="post_listing_blogtext">Blog post</span>
                <span class="post_listing_user">
                    by <a href="{% url 'profile_view' post.created_by.username %}">{{ post.created_by.username|escape }}</a>
                </span>
            </div>
        </div>

    </div>

    <div class="post_content">{{ post.rendered_content|safe }}</div>

    {% if user.is_authenticated and user == post.created_by or user.is_staff %}
    <div id="author_controls">
        <a href="{% url 'edit_post' post.id %}">Edit</a> |
        <a href="{% url 'delete_post' post.id %}">Delete</a>
    </div>
    {% endif %}

    {% include 'comments_section.html' %}
</div>
{% endblock %}